---
layout: page
# All the Tags of posts.
---
{% include lang.html %}
{% assign active_lang = site.active_lang | default: site.default_lang %}
{% assign localized_posts = site.posts | where: 'lang', active_lang %}
<div id="tags" class="d-flex flex-wrap mx-xl-2">
  {% assign tag_names = '' | split: '' %}
  {% for p in localized_posts %}
    {% for t in p.tags %}
      {% unless tag_names contains t %}
        {% assign tag_names = tag_names | push: t %}
      {% endunless %}
    {% endfor %}
  {% endfor %}
  {% assign sorted_tags = tag_names | sort_natural %}
  {% for t in sorted_tags %}
    {% assign tag_count = localized_posts | where_exp: 'post', 'post.tags contains t' | size %}
    <div>
      {% capture _tag_url %}/tags/{{ t | slugify | url_encode }}/{% endcapture %}
      <a class="tag" href="{{ _tag_url | safe_relative_url }}">
        {{ t -}}
        <span class="text-muted">{{ tag_count }}</span>
      </a>
    </div>
  {% endfor %}
</div>
